<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/bookstore/add_book" name="act" method='POST' >
        <p> 书名: <input type="text" name="bookname"></p>
        <p> 出版社: <input type="text" name="pub"></p>
        <p> 价钱: <input type="" name="price"></p>
        <p> 定价: <input type="" name="market_price"></p>
        <input type="submit" value="添加">

    </form>
    {% if act %}
        {{ info|safe }}
    {% endif %}
</body>
</html>